
.header-underline {
    border-bottom: 1px solid #aabac5;
    padding-bottom: 0.1rem;
}

.button--indigo {
    @apply .bg-indigo-600;
    @apply .cursor-pointer;
    @apply .no-underline;
    @apply .px-6;
    @apply .py-3;
    @apply .rounded-full;
    @apply .text-xs;
    @apply .text-white;

    transition: background .3s ease-out;
}

    .button--indigo:hover {
        @apply .bg-indigo-700;
    }

    @screen sm {
        .button--indigo {
            @apply .text-sm;
        }
    }

.v-cloak {
    @apply .hidden;
}

[x-cloak] {
    @apply .hidden;
}

.text-inherit {
    color: inherit;
}

.markdown-body ul {
    list-style-type: disc;
}

.markdown-body ol {
    list-style-type: decimal;
}

.markdown-body code, .markdown-body pre {
    @apply tracking-wide;
}
